<div style="color:red; font-family: Arial; text-align: center">
    <h1>ABOUT THE AUTHOR</h1>
</div>
<div style="background-color: red; height: 10px"></div>
    <div style="padding: 20px; border: 5px inset black">
    {% for foo in author %}
        <h2>About {{foo.author.name}}:</h2> 
        <div style="padding: 10px 20px 20px 10px">
            <em>{{foo.author.bio}}</em>
        <h2>{{foo.author.name}}'s Recipe List:</h2>
            <h2>{{foo.title}}</h2> 
        </div>
    {% endfor %}
    </div>
